<div class="container my-5">
    <div class="sub-nav"></div>
    <div class="search-category"></div>
    <div class="title">CATEGORY</div>
    <div class="add-new-category my-5">
  
  
        <button type="button" class="btn btn-primary my-5" (click)="createCategory()">ADD NEW CATEGORY</button>
      <!-- <div class="w-80">
        <form class="d-flex flex-row mb-3" [formGroup]="filterForm" >
          <div class="p-2">
            <input type="text" class="form-control" formControlName="id" placeholder="Id">
          </div>
          <div class="p-2">
            <input type="text" class="form-control" formControlName="name" placeholder="Name">
          </div>
          <div class="p-2">
            <select class="form-control" formControlName="role">
              <option value="null" disabled> Role </option>
              <option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</option>
            </select>
          </div>
          <div class="p-2">
            <button type="button" class="btn btn-primary mb-3" (click)="findcategory()" >Search</button>
          </div>
        </form>
  
      </div> -->
    </div>
    <div class="list-categorys">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Parent Category</th>
            <th scope="col">Description</th>
       

          </tr>
        </thead>
  
        <tbody>
          <tr
            *ngFor="let category of categories | paginate: {  itemsPerPage: limit, currentPage: page, totalItems: count}; let i = index">
            <th scope="col">{{category.id}}</th>
            <th scope="col">{{category.name}}</th>
            <th scope="col">{{category.parentName ? category.parentName : 'root' }}</th>
            <th scope="col">{{category.description}}</th>
            <th scope="col text-center">
              <button type="button" class="btn btn-primary" (click)="editCategory(category)">Edit</button>
              <button type="button" class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</button>
            </th>
  
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="handlePage($event)">
        </pagination-controls>
      </div>
    </div>
    <app-spinner></app-spinner>
  
  </div>