<div class="modal-header">
    <div class="title text-center ">
        <h4>{{title}}</h4>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
        <span aria-hidden="true">X</span>
    </button>
</div>

<div class="modal-body">
    <div class="h-100 h-custom" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-11 col-xl-11">
                    <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
                        <div class="card-body p-5">

                            <p class="lead fw-bold mb-5" style="color: #f37a27;">Purchase Reciept</p>

                            <div class="row">
                                <div class="col mb-3">
                                    <p class="small text-muted mb-1">Date</p>
                                    <p>{{inforOrder.created_at * 1000 | date:'MMM d, y, h:mm:ss a'}}</p>
                                </div>
                                <div class="col mb-3">
                                    <p class="small text-muted mb-1">Order No.</p>
                                    <p>{{inforOrder.name}}</p>
                                </div>
                            </div>

                            <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
                                <div class="row" *ngFor="let product of listProducts">
                                    <div class="col-md-8 col-lg-8">
                                        <p class="mb-0">{{product.name}}</p>
                                    </div>
                                    <div class="col-md-8 col-lg-2">
                                        <p class="mb-0">x{{product.quantity}}</p>
                                    </div>
                                    <div class="col-md-4 col-lg-2">
                                        <p class="mb-0">${{product.price}}</p>
                                    </div>
                                </div>
                               <div class="row d-flex">
                                <div class="col-md-8"><p class="mb-0 lead fw-bold align-items-center">Total:</p></div>
                                <div class="row my-4">
                                    <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                                        <p class="lead fw-bold mb-0" style="color: #f37a27;">${{total}}</p>
                                    </div>
                                </div>
                               </div>

                                <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Status Order</p>

                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="horizontal-timeline">
                                            <ul class="list-inline items d-flex justify-content-between">
                                                <div *ngIf="status === 5; else elseBlock">
                                                    <div class="text-bg-danger rounded p-3">Cancel</div>
                                                </div>
                                                <ng-template #elseBlock>
                                                    <li *ngFor="let option of options">
                                                        <p class="py-1 px-2 rounded text-white"
                                                            [ngClass]="option.value > status ? 'text-bg-secondary' : 'text-bg-success'">
                                                            {{option.name}}
                                                        <p class="py-1 px-2 rounded text-white"
                                                            [ngClass]="option.value > status ? 'text-bg-secondary' : 'text-bg-success'">

                                                    </li>
                                                </ng-template>
                                            </ul>
                                            <!-- 
                                            <ul class="list-inline items d-flex justify-content-between">
                                                <li class="list-inline-item items-list">
                                                    <p class="py-1 px-2 rounded text-white"
                                                        style="background-color: #f37a27;">
                                                        New Order
                                                    <p class="py-1 px-2 rounded text-white"
                                                        style="background-color: #f37a27;">
                                                </li>
                                                <li class="list-inline-item items-list">
                                                    <p class="py-1 px-2 rounded text-white"
                                                        style="background-color: #f37a27;">
                                                        Spending Order
                                                    <p class="py-1 px-2 rounded text-white"
                                                        style="background-color: #f37a27;">
                                                </li>
                                                <li class="list-inline-item items-list">
                                                    <p class="py-1 px-2 rounded text-white"
                                                        style="background-color: #f37a27;">
                                                        Ok Order
                                                    </p>
                                                </li>
                                                <li class="list-inline-item items-list text-end"
                                                    style="margin-right: 8px;">
                                                    <p style="margin-right: -8px;">Delivery To Buyer</p>
                                                </li>
                                            </ul> -->

                                        </div>

                                    </div>
                                </div>

                                <p class="mt-4 pt-2 mb-0">Monkey <a href="#!" style="color: #f37a27;">Please contact
                                        us</a></p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>