<div class="container my-5">
    <div class="sub-nav"></div>
    <div class="search-order"></div>
    <div class="title">ORDER</div>
    <div class="add-new-order my-5">


        <button type="button" class="btn btn-primary my-5" (click)="createOrder()">ADD NEW ORDER</button>
        <form [formGroup]="filterForm">
            <div class="d-flex justify-content-start">
                <div class="p-2">

                    <input type="text" class="form-control" formControlName="id" placeholder="ID">
                </div>
                <div class="p-2">

                    <input type="text" class="form-control" formControlName="name" placeholder="Name">
                </div>

                <div class="p-2">
                    <select class="form-control" formControlName="status">
                        <option value="null" disabled> Status </option>
                        <option *ngFor="let option of options" value="{{option.value}}">{{option.name}}</option>
                    </select>
                </div>
                <div class="p-2">

                    <input type="text" class="form-control" formControlName="userName" placeholder="User">
                </div>
            </div>

            <div class="d-flex justify-content-start">
                <div class="p-2">

                    <input type="text" class="form-control" formControlName="customerName" placeholder="CustomerName">
                </div>
                <div class="p-2">

                    <input type="text" class="form-control" formControlName="customerAddress" placeholder="Address">
                </div>
                <div class="p-2">

                    <input type="text" class="form-control" formControlName="customerEmail" placeholder="Email">
                </div>
                <div class="p-2">

                    <input type="text" class="form-control" formControlName="customerPhoneNumber" placeholder="Phone">
                </div>


            </div>

            <div class="row">
                <div class="d-flex justify-content-start col-md-10">
                    <div class="p-2">
                        <select class="form-control" formControlName="categoryId" (change)="updateListProduct($event)">
                            <option value="null">Choosse Category</option>
                            <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}
                            </option>
                        </select>
                    </div>
                    <div class="p-2" *ngIf="isVisible">
                        <select class="form-control" formControlName="productId">
                            <option *ngFor="let product of listProduct" value="{{product.id}}">{{product.name}}</option>
                        </select>
                    </div>

                </div>
                <div class="p-2 col-md-2">
                    <button type="button" class="btn btn-primary mb-3" (click)="findOrder()">Search</button>
                </div>
            </div>
        </form>

    </div>
    <div class="list-orders">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Customer</th>
                    <th scope="col">User</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Updated At</th>
                </tr>
            </thead>

            <tbody>
                <ng-container>

                    <tr *ngIf="!orders"> No find data</tr>
                </ng-container>
                <ng-container *ngIf="orders">
                    <tr
                        *ngFor="let order of orders | paginate: {  itemsPerPage: limit, currentPage: page, totalItems: count}; let i = index">
                        <th scope="col">{{order.id}}</th>
                        <th scope="col">{{order.name}}</th>
                        <th scope="col">{{order.fullName}}</th>
                        <th scope="col">{{order.staffName}}</th>
                        <th scope="col">{{convertStringStatus(options, order.status)}}</th>
                        <th scope="col">{{order.created_at * 1000 | date:'MMM d, y, h:mm:ss a'}}</th>
                        <th scope="col">{{order.updated_at * 1000 | date:'MMM d, y, h:mm:ss a'}}</th>
                        <th scope="col text-center">
                            <button type="button" class="btn btn-success" (click)="displayOrder(order.id)">View</button>
                            <button type="button" class="btn btn-primary" (click)="editOrder(order)">Update</button>
                            <button type="button" class="btn btn-danger" (click)="deleteOrder(order.id)">Delete</button>
                        </th>

                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="handlePage($event)">
            </pagination-controls>
        </div>
        <!-- <app-edit-order></app-edit-order> -->
    </div>
    <app-spinner></app-spinner>

</div>