<section class="h-100 h-custom">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <!--              {{listProducts}}-->
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col" class="h5">Product</th>
              <th scope="col">Category</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
            </tr>
            </thead>

            <tbody>
            <ng-container [formGroup]="listProductForm">
              <!--                              {{listProducts.controls | json}}-->
              <ng-container formArrayName="listProducts" *ngFor="let productss of listProducts.controls | keyvalue;">
                <ng-container [formGroup]="getData2(productss.value)">
                  <tr>
                    <td>
                      <input min="0" formControlName="quantity" type="number" class="form-control form-control-sm"
                             style="width: 50px;"/>
                    </td>

                    <td>{{getData(productss.value, 'name')}}</td>
                    <td>{{getData(productss.value, 'description')}}</td>
                    <!--                                    <td>12312</td>-->
                    <!--&lt;!&ndash;                                    <th scope="row">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        <div class="d-flex align-items-center">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                            &lt;!&ndash; <img src="https://i.imgur.com/2DsA49b.webp" class="img-fluid rounded-3"&ndash;&gt;-->
                    <!--&lt;!&ndash;                                                style="width: 120px;" alt="Book"> &ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;                                            <div class="flex-column ms-4">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                                &lt;!&ndash; <p class="mb-2">{{product.name}}</p> &ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    </th>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    <td class="align-middle">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        &lt;!&ndash; <p class="mb-0" style="font-weight: 500;">{{product.category_name}}</p> &ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    </td>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    <td class="align-middle">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        <div class="d-flex flex-row">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                            <button class="btn btn-link px-2">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                                <i class="fas fa-minus"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                            </button>&ndash;&gt;-->

                    <!--&lt;!&ndash;                                            <input min="0" formControlName="quantity" type="number"&ndash;&gt;-->
                    <!--&lt;!&ndash;                                                class="form-control form-control-sm" style="width: 50px;" />&ndash;&gt;-->

                    <!--&lt;!&ndash;                                            <button class="btn btn-link px-2">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                                <i class="fas fa-plus"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                            </button>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    </td>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    <td class="align-middle">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                        &lt;!&ndash; <p class="mb-0" style="font-weight: 500;">${{product.price}}</p> &ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    </td>&ndash;&gt;-->
                  </tr>
                </ng-container>
              </ng-container>

            </ng-container>
            </tbody>
          </table>
        </div>

        <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
          <div class="card-body p-4">

            <div class="row">
              <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                <form [formGroup]="productForm">

                  <div class="d-flex flex-row pb-3">
                    <select class="form-control" formControlName="productId">
                      <option value="null" disabled>List products</option>
                      <option *ngFor="let product of products" value="{{product.id}}">
                        {{product.name}}</option>
                    </select>
                  </div>
                  <div class="d-flex flex-row pb-3">
                    <div class="d-flex align-items-center pe-2">
                      <button type="button" class="btn btn-primary"
                              (click)="addProduct()">Add
                      </button>
                    </div>

                  </div>

                </form>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-6">
                <div class="row">

                </div>
              </div>
              <div class="col-lg-4 col-xl-3">

                <div class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-0">Discount</p>
                  <p class="mb-0">$0</p>
                </div>

                <hr class="my-4">

                <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                  <p class="mb-2">Total</p>
                  <p class="mb-2">${{total}}</p>
                </div>

                <button type="button" class="btn btn-primary btn-block btn-lg" (click)="getTotal()">
                  <div class="d-flex justify-content-between">
                    <span>Checkout</span>
                  </div>
                </button>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
