<!-- <section class="h-custom"> -->
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col">
        <!--              {{listProducts}}-->
        <!-- h-100 -->
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th scope="col" class="h5">Product</th>
              <th scope="col">Category</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
            </tr>
            </thead>

            <tbody>
            <ng-container [formGroup]="listProductForm">
              <!--                              {{listProducts.controls | json}}-->
              <ng-container formArrayName="listProducts"
                            *ngFor="let productss of listProducts.controls | keyvalue; let i = index">
                <!--                <ng-container [formGroup]="getData2(productss.value)">-->
                <ng-container [formGroupName]="i">
                  <tr>
                    <!--                    <td>{{getData(productss.value, 'name')}}</td>-->
                    <!--                    <td>-->
                    <!--                      <input min="0" formControlName="quantity" type="number" class="form-control form-control-sm"-->
                    <!--                             style="width: 50px;"/>-->
                    <!--                    </td>-->


                    <!--                    <td>{{getData(productss.value, 'category_name')}}</td>-->
                    <!--                                                        <td>12312</td>-->
                    <th scope="row">
                      <div class="d-flex align-items-center">
                        <!-- <img src="https://i.imgur.com/2DsA49b.webp" class="img-fluid rounded-3"
                            style="width: 120px;" alt="Book"> -->
                        <div class="flex-column ms-4">
                          <p class="mb-2">{{getData(productss.value, 'name')}}</p>
                        </div>
                      </div>
                    </th>
                    <td class="align-middle">
                      <p class="mb-0" style="font-weight: 500;">{{getData(productss.value, 'category_name')}}</p>
                    </td>
                    <td class="align-middle">
                      <div class="d-flex flex-row">
                        <button class="btn btn-link px-2" (click)="decrease(i)">
                          <i class="fas fa-minus"></i>
                        </button>

                        <input min="0" formControlName="quantity" type="number"
                               class="form-control form-control-sm" style="width: 50px;"/>

                        <button class="btn btn-link px-2" (click)="increase(i)">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </td>
                    <td class="align-middle">
                      <p class="mb-0" style="font-weight: 500;">${{getData(productss.value, 'price')}}</p>
                    </td>
                    <td class="align-middle">
                      <button type="button" class="btn btn-sm btn-danger" (click)="removeProduct(i)">Remove</button>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>

            </ng-container>
            </tbody>
          </table>
        </div>

        <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
          <div class="card-body p-4">

            <div class="row">
              <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">
                <form [formGroup]="productForm">

                  <div class="d-flex flex-row pb-3">
                    <select class="form-control" formControlName="productId">
                      <option value="null" disabled>List products</option>
                      <option *ngFor="let product of products" value="{{product.id}}">
                        {{product.name}}</option>
                    </select>
                  </div>
                  <div class="d-flex flex-row pb-3">
                    <div class="d-flex align-items-center pe-2">
                      <button type="button" class="btn btn-primary"
                              (click)="addProduct()">Add
                      </button>
                    </div>

                  </div>

                </form>
              </div>
              <div class="col-md-6 col-lg-4 col-xl-6">
                <div class="row">

                </div>
              </div>
              <div class="col-lg-4 col-xl-3">

                <div class="d-flex justify-content-between" style="font-weight: 500;">
                  <p class="mb-0">Discount</p>
                  <p class="mb-0">$0</p>
                </div>

                <hr class="my-4">

                <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                  <p class="mb-2">Total</p>
                  <p class="mb-2">${{total}}</p>
                </div>

                <button type="button" class="btn btn-primary btn-block btn-lg" (click)="getTotal()">
                  <div class="d-flex justify-content-between">
                    <span>Check Total</span>
                  </div>
                </button>

              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
<!-- </section> -->
