<div class="container my-5">
    <div class="w-50 m-auto">
        <div class="title text-center ">
            <h4>Edit Product</h4>
        </div>
        <div class="information-form"></div>
        <form>
            <div class="form-group">
                <label for="formControlInput1">Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label for="formControlInput2">Price</label>
                <input type="text" class="form-control" name="price">
            </div>
            <div class="form-group">
                <label for="formControlInput3">Category</label>
                <input type="text" class="form-control" name="category">
            </div>
            <div class="form-group">
                <label for="formControlTextarea1">Description</label>
                <textarea class="form-control" rows="3" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="formControlFile1">Image product</label>
                <input type="file" class="form-control-file" id="formControlFile1">
            </div>
        </form>
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Apply</a>
        <a href="#" class="btn btn-secondary btn-lg active float-right" role="button" aria-pressed="true">Cancel</a>
    </div>
</div>