<div class="modal-header">
  <div class="title text-center ">
    <h4>{{title}}</h4>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.close('Close click')">
    <span aria-hidden="true">X</span>
  </button>
</div>
<div class="modal-body">


  <form [formGroup]="editForm">
    <div class="form-group">
      <label for="formControlInput1">Name</label>
      <!-- {{editForm.name.errors.required}} -->
      <input type="text" class="form-control" formControlName="name"
        [ngClass]="{'is-invalid': submitted && f.name.errors}">
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Name is required</div>
      </div>

    </div>
    <div class="form-group">
      <label for="formControlInput2">Price</label>
      <input type="number" class="form-control" formControlName="price" [ngClass]="{'is-invalid': submitted && f.price.errors}">
      <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Price is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="formControlInput2">Category</label>
      <div *ngIf="title === 'Add New Product'; else elseBlock1">
        <select class="form-control" formControlName="category" [ngClass]="{'is-invalid': submitted && f.category.errors}">
          <option value="null" disabled> Choose category </option>
          <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
        </select>
      </div>
      <ng-template #elseBlock1>
        <select class="form-control" formControlName="category" [ngClass]="{'is-invalid': submitted && f.category.errors}">
          <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
        </select>
      </ng-template>
      <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
        <div *ngIf="f.category.errors.required">Category is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="formControlTextarea1">Description</label>
      <textarea class="form-control" rows="3" formControlName="description" [ngClass]="{'is-invalid': submitted && f.description.errors}"></textarea>
      <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">Description is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="formControlInput3">Image</label>
      <input type="text" class="form-control" formControlName="image" [ngClass]="{'is-invalid': submitted && f.image.errors}">
      <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
        <div *ngIf="f.image.errors.required">Image is required</div>
      </div>
    </div>
  </form>
  <!-- <div class="error-message"> error</div> -->
</div>

<div class="modal-footer">
  <div *ngIf="title === 'Edit Product'; else elseBlock2">
    <button type="button" class="btn btn-primary btn-lg active" (click)="updateProduct()">Apply</button>
  </div>
  <ng-template #elseBlock2>
    <button type="button" class="btn btn-primary btn-lg active" (click)="createProduct()">Create</button>
  </ng-template>


  <!-- <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Apply</a> -->
  <!-- <button (click)="testNow()">Test ngay</button> -->
  <!-- <a href="#" class="btn btn-secondary btn-lg active float-right" role="button" aria-pressed="true">Cancel</a> -->
  <button type="button" class="btn btn-secondary btn-lg active float-right" (click)="handleCancel()">Cancel</button>
</div>