<div class="header">
    <div class="container">
        <div class="header-branch float-left mx-auto" ><a class="text-danger font-weight-bold" href="#" routerLink="/" routerLinkActive="active">MONKEY</a></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light float-right mx-auto">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/product"routerLinkActive="active">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="#" routerLinkActive="active">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="login" routerLinkActive="active">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="register" routerLinkActive="active">Sign up</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</div>