<!-- <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
  <div class="modal-dialog modal-sm"> -->
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Close click')">
      <span aria-hidden="true">X</span>
    </button> -->

  </div>
  <!-- <div class="modal-body"></div> -->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" style="border: none;" (click)="cancel()">No</button>
    <button type="button" class="btn btn-primary" (click)="deleteItem()">Yes</button>
  </div>
</div>
<!-- </div>
</div> -->