<div class="container">

  <div class="row col">
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Category</th>
          <th scope="col" class="h5">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody style="height: 120px" [formGroup]="listProductForm">
        <ng-container formArrayName="listProduct" *ngFor="let product of listProduct.controls; let i = index">
          <tr [formGroupName]="i">
            <td class="align-middle">
              <select formControlName="categoryId" class="form-control" (change)="getListProductByCategory($event, i)">
                <option value="null" disabled>Category</option>
                <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
              </select>
            </td>
            <td class="align-middle">
              <select formControlName="productId" class="form-control" (change)="updatePrice($event,i)" >
                <option *ngFor="let prod of product.value.listProduct" value="{{prod.id}}">{{prod.name}}</option>
              </select>
            </td>
<!--            {{product.value.listProduct | json}}-->
            <td class="align-middle">
              <div class="d-flex flex-row">
                <button class="btn btn-link px-2" (click)="decrease(i)">
                  <i class="fas fa-minus"></i>
                </button>

                <input formControlName="quantity" type="number"
                       class="form-control form-control-sm" style="width: 50px;"/>

                <button class="btn btn-link px-2" (click)="increase(i)">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </td>
            <td class="align-middle">
              <p style="font-weight: 500;">{{getPrice(i)}}</p>
            </td>
            <td class="align-middle">
              <button type="button" class="btn btn-sm btn-danger" (click)="removeProduct(i)">Remove</button>
            </td>
          </tr>
        </ng-container>
        </tbody>

      </table>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-4">
<!--          <i class="fas fa-plus-circle"></i>-->
          <button type="button" class="btn btn-sm btn-danger" (click)="addProductForm()">Add</button>
        </div>
      </div>
    </div>
  </div>

</div>
